[submodule "home/.vim/bundle/solarized"]
	path = home/.vim/bundle/solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "home/.vim/bundle/supertab"]
	path = home/.vim/bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule "home/.vim/bundle/fugitive"]
	path = home/.vim/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "home/.vim/bundle/trailing-whitespace"]
	path = home/.vim/bundle/trailing-whitespace
	url = git://github.com/vim-scripts/trailing-whitespace.git
[submodule "home/.vim/bundle/vim-multiple-cursors"]
	path = home/.vim/bundle/vim-multiple-cursors
	url = git://github.com/terryma/vim-multiple-cursors.git
[submodule "home/.vim/bundle/vim-css-color"]
	path = home/.vim/bundle/vim-css-color
	url = git://github.com/ap/vim-css-color.git
[submodule "home/.vim/bundle/nerdtree"]
	path = home/.vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "home/.vim/bundle/vim-nerdtree-tabs"]
	path = home/.vim/bundle/vim-nerdtree-tabs
	url = git://github.com/jistr/vim-nerdtree-tabs.git
[submodule "home/.vim/bundle/javascript-syntax"]
	path = home/.vim/bundle/javascript-syntax
	url = git://github.com/jelera/vim-javascript-syntax.git
[submodule "home/.vim/bundle/airline"]
	path = home/.vim/bundle/airline
	url = git://github.com/bling/vim-airline.git
[submodule "etc/powerline-patched"]
	path = etc/powerline-patched
	url = git://github.com/Lokaltog/powerline-fonts.git
[submodule "home/.vim/bundle/pathogen"]
	path = home/.vim/bundle/pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "home/.zsh/zsh-git-prompt"]
	path = home/.zsh/zsh-git-prompt
	url = git://github.com/olivierverdier/zsh-git-prompt.git
[submodule "home/.zsh/zsh-syntax-highlighting"]
	path = home/.zsh/zsh-syntax-highlighting
	url = git://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "home/.zsh/zsh-history-substring-search"]
	path = home/.zsh/zsh-history-substring-search
	url = git://github.com/zsh-users/zsh-history-substring-search.git
[submodule "home/.vim/bundle/vim-ansible-yaml"]
	path = home/.vim/bundle/vim-ansible-yaml
	url = git://github.com/chase/vim-ansible-yaml.git
[submodule "home/.vim/bundle/openscad"]
	path = home/.vim/bundle/openscad
	url = git://github.com/sirtaj/vim-openscad.git
[submodule "home/.vim/bundle/ctrlp.vim"]
	path = home/.vim/bundle/ctrlp.vim
	url = git://github.com/ctrlpvim/ctrlp.vim.git
[submodule "home/.vim/bundle/vim-uci"]
	path = home/.vim/bundle/vim-uci
	url = git://github.com/cmcaine/vim-uci.git
[submodule "home/.vim/bundles/typescript-vim"]
	path = home/.vim/bundle/typescript-vim
	url = git://github.com/leafgarland/typescript-vim.git
[submodule "home/.vim/bundle/vim-ps1"]
	path = home/.vim/bundle/vim-ps1
	url = git://github.com/PProvost/vim-ps1.git
[submodule "home/.vim/bundle/requirements.txt.vim"]
	path = home/.vim/bundle/requirements.txt.vim
	url = git://github.com/raimon49/requirements.txt.vim.git
[submodule "home/.vim/bundle/jedi-vim"]
	path = home/.vim/bundle/jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
