# lazy chdir
alias ..='cd ..'
alias ...='cd ../..'

# package manager commands
alias sagi='sudo apt-get install'
alias bi='brew install'
alias snig='sudo npm install -g'
alias syi='sudo yum install'

# colours and ANSI lines
alias tree="tree -CA"

# stop vim taking ages looking for X server
# Also, tabs by default. -O and -o will override, don't worry.
alias vim='vim -X -p'

# list by creation date (I think)
alias lr='ls -latr'
# list all
alias la='ls -al'

# Common shortcuts
alias g=git
alias s='git status'
alias d='git diff'
alias o='git log'
alias b='git branch -a'
alias master='git checkout master;git fetch; git fetch origin master; git merge --ff-only FETCH_HEAD'
alias l=ls
alias v=vim
alias vo='vim -O'
alias findn='find -name'
alias findack='find . | ack'
# find TODO tags in files
alias TODO='ack TODO'
alias ackl='ack -l'
alias dos2unixRecursive='find . -name "*" -type f -exec dos2unix {} \;'
alias cdp='cd -P'
alias dush="du -sh | sort -h"

alias webserver='python -m SimpleHTTPServer'
alias grep='grep --color=auto'

# note this does not work on mac os x, has to be patched in bash or fish rc
alias ls='ls --color=auto'

# don't use URL to create filename (do I really want a file called
# unetbootin-source-494.tar.gz?r=http%3A%2F%2Fsourceforge.net%2Fprojects%2Funetbootin%2Ffiles%2FUNetbootin%2F494%2F&ts=1391695063&use_mirror=heanet?)
alias wget='wget --content-disposition'

# Agent forwarding -- only this seems to work
alias ssh='ssh -A'

# A few more useful commands that don't need aliases. This file is a good
# place.
#du -sh  # find recursive, human size of given files/directories
#file    # identify a filetype using fingerprinting
#ack     # a good , faster, alternative to find | xargs grep -l
#stress  # load CPU/mem/disk
#binwalk # discover things on a firmware image
#string  # discover strings in a binary blob

# Also, this seems like a good place to note:
# If you're in a dangling SSH session type
#    ~.
# To 'disconnect'

# typo fixes
alias sl=ls
alias c=cd
alias xs=cd
alias cim=vim
alias bim=vim
alias nom=npm
alias gi=git
alias cd..='cd ..'
alias lsd=ls
alias grepo=grep
alias rfind=find
alias lack=ack
