
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
	ui = true
[core]
	excludesfile = ~/.gitignore_global
	# editor problems with fish shell:
	# http://tooky.co.uk/2010/04/08/there-was-a-problem-with-the-editor-vi-git-on-mac-os-x.html
	# vim -X = don't look for X server, which can be slow
	editor       = /usr/bin/vim -X
[help]
	autocorrect = 1
[include]
	path = ~/.gitconfig.local
[alias]
	tpush = push
	tpull = pull
	pus = push
	pul = pull
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
[push]
	default = current
