[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
	ui = true
[core]
	excludesfile = ~/.gitignore_global
[help]
	autocorrect = 1
[include]
	path = ~/.gitconfig.local
[user]
	name = jimjibone
	email = jamesreuss@gmail.com
[push]
	default = simple
