xterm*VT100.geometry:  160x40
!xterm*faceName:       Terminus:style=Regular:size=10
!xterm*font:           -*-dina-medium-r-*-*-16-*-*-*-*-*-*-*
xterm*dynamicColors:   true
xterm*utf8:            2
xterm*eightBitInput:   true
xterm*saveLines:       0
xterm*scrollKey:       true
xterm*scrollTtyOutput: false
xterm*scrollBar:       false
xterm*rightScrollBar:  true
xterm*jumpScroll:      true
xterm*multiScroll:     true
xterm*toolBar:         false
xterm*termName:        xterm-256color

URxvt*scrollBar:       false
URxvt*geometry:        160x40

! do not set general, as this impacts all x apps
URxvt*foreground:      #bcbcbc
URxvt*background:      #000000
xterm*foreground:      #bcbcbc
xterm*background:      #000000

! regular blue on black is terrible, change
*color4:               #5555FF
*color12:              #5555FF

! bold fonts look terrible
XTerm*boldMode:        false
URxvt*boldFont:


! fonts (installed to ~/.fonts)
!xterm*faceName:Source Code Pro:antialias=True:pixelsize=12
! Patched powerline font
xterm*faceName:        Sauce Code Powerline:antialias=True:pixelsize=14
URxvt.font:            xft:Sauce Code Powerline:size=14
